/* 
  Este arquivo contém os estilos da página Administrativa
  Projeto RM - Rodrigo Costa, Renan Souza e Thiago Leal
  2018-MAR-13
*/

.login{
	text-align: center;
	border: 1px solid black;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 0 10px 0;
}
