/* 
  Este arquivo contém os estilos das páginas HTML
  Projeto RM - Rodrigo Costa, Renan Souza e Thiago Leal
  2018-MAR-13
*/

/* ---------------------------- base_page inicio ---------------------------- */

/* Cabeçalho */
header {
  padding: 1em; 
  color: white; 
  background-color: black; 
  clear: left; 
  text-align: center; 
}

/* Botões de Navegação - Início*/
ul {
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  overflow: hidden; 
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block; 
  color: white; 
  text-align: center; 
  padding: 14px 16px; 
  text-decoration: none; 
}

li a:hover {
  background-color: #111; 
}
/* Botões de Navegação - Fim*/

/* Texto em Colunas - Início */
.colunas {
  column-count: 3; 
  column-width: 100px; 
}

p,a {
  text-align: center; 
  text-decoration: none; 
  color: black; 
}
/* Texto em Colunas - Fim */

/* Logo no centro da tela */
#logo {
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
}

/* Rodapé */
footer {
  padding: 1em;
  color: white;
  background-color: black;
  clear: left;
  text-align: center;
}

/* ---------------------------- base_page fim ------------------------------ */

/* ---------------------------- agendar ensaio inicio  --------------------- */

/* Botão Facebook */
#btn_facebook {
	background-color: #008CBA;
	border: 1px solid black;
	color: white;
	margin: 5px auto;
	padding: 20px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius:  12px;
}

#btn_email{
	background-color: #008CBA;
	border: 1px solid black;
	color: white;
	margin: 5px auto;
	padding: 10px;
	text-align: center;
	font-size: 1em;
	border-radius: 12px;
}

.clique{
  cursor: pointer;
}

.table{
	float: center;
	width: 90%;
	padding: 50px;
}

.line{
	text-align: left;
	height: 275px;
}

/* ---------------------------- agendar ensaio fim -------------------------- */
