/* 
  Este arquivo contém os estilos do Agendamento de Ensaios
  Projeto RM - Rodrigo Costa, Renan Souza e Thiago Leal
  2018-MAR-13
*/

/* Texto em Colunas - Início */
.colunas {
	column-count: 3; 
	column-width: 100px; 
}

p,a {
	text-align: center; 
	text-decoration: none; 
	color: black; 
}
/* Texto em Colunas - Fim */

/* Logo no centro da tela */
#logo {
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
}

/* Rodapé */
footer {
	padding: 1em;
	color: white;
	background-color: black;
	clear: left;
	text-align: center;
}

.btn{
	background-color: #008CBA;
	border: 1px solid black;
	text-align: center;
	color: white;
	margin: 5px auto;
	border-radius: 12px;
	font-size: 16px;
}

.btn:hover{
	cursor: pointer;
	background-color: #005CBB;
}

/* Botão Facebook */
#btn_facebook {
	padding: 20px 32px;
	text-decoration: none;
	display: inline-block;
}

#btn_email{
	padding: 10px;
	font-size: 1em;
}

.table{
	float: center;
	width: 90%;
	padding: 50px;
}

.line{
	text-align: left;
	height: 275px;
}
