/* 
  Este arquivo contém os estilos da página principal
  Projeto RM - Rodrigo Costa, Renan Souza e Thiago Leal
  2018-MAR-13
*/

/* Texto em Colunas - Início */
.colunas {
	/*border: 1px solid black;*/
	column-count: 3; 
	column-width: 100px; 
}

.colunas a{
	padding-left: 1px;
}

.colunas p,a {
	text-align: center; 
	text-decoration: none; 
	color: black; 
}
/* Texto em Colunas - Fim */

/* Logo no centro da tela */
#logo {
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
}
