/* 
  Este arquivo contém os estilos do cabeçalho
  Projeto RM - Rodrigo Costa, Renan Souza e Thiago Leal
  2018-MAR-30
*/

header {
	padding: 1em; 
	color: white; 
	background-color: black; 
	clear: left; 
	text-align: center; 
}
