/* 
  Este arquivo contém os estilos das páginas HTML
  Projeto RM - Rodrigo Costa e Renan Souza
  2018-MAR-13
*/

/* Corpo da página */
body {
  background-color: lightgrey; 
  color: black
}

/* Cabeçalho */
header {
  padding: 1em; 
  color: white; 
  background-color: black; 
  clear: left; 
  text-align: center; 
}

/* Botões de Navegação - Início*/
ul {
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  overflow: hidden; 
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block; 
  color: white; 
  text-align: center; 
  padding: 14px 16px; 
  text-decoration: none; 
}

li a:hover {
  background-color: #111; 
}
/* Botões de Navegação - Fim*/
