/* 
	Este arquivo contém os estilos do Portfólio
	Projeto RM - Rodrigo Costa, Renan Souza e Thiago Leal
	2018-MAR-13
*/

/* Alterando todos os elementos */
* {
	box-sizing: border-box; 
}

body {
	margin: 0; 
}

h2 {
	text-align: center; 
}

/* Foto Pequena */
.foto_pequena {
	float: left; 
	width: 25%; 
	height: 25%;
	padding: 10px; 
}

img {
	width: 100%;
	height: 100%;
	margin: auto;
}

.foto_pequena img {
	opacity: 0.5; 
	cursor: pointer; 
}

.foto_pequena img:hover {
	opacity: 1;
}

/* Fotos em Colunas */
.linhas:after {
	content: ""; 
	display: table; 
	clear: both; 
}

/* Container da Foto Grande */
.container_foto_grande {
	position: relative; 
	display: none; 
}

/* Foto Grande */
#foto_grande {
	width: 100%;
	height: 100%;
	margin: auto;
	display: block;
	border: 1px solid black;
}

/* Legenda da Foto */
#legenda_foto {
	position: absolute; 
	bottom: 15px; 
	left: 15px; 
	color: black; 
	font-size: 20px; 
}

/* Botão Fechar Foto */
.btn_fechar_foto {
	position: absolute; 
	top: 10px; 
	right: 15px; 
	color: black; 
	font-size: 35px; 
	cursor: pointer; 
}
