/*
  Este arquivo contém os estilos das páginas HTML
  Projeto RM - Rodrigo Costa, Renan Souza e Thiago Leal
  2018-MAR-28
*/

/* Tabela Agendamento - Geral */
#agendamento {
    font-family: Arial; 
    border-collapse: collapse;
    width: 100%;
}

/* Bordas */
#agendamento td, #agendamento th {
    border: 1px solid grey;
    padding: 8px;
}

/* Cores das linhas se alternam */
#agendamento tr:nth-child(even){background-color: #f2f2f2;}

/* Ao colocar o mouse na linha, ela fica mais escura */
#agendamento tr:hover {background-color: #ddd;}

/* Nomes das Colunas */
#agendamento th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
}

.btn{
	padding: 10px 30px;
	background-color: #CCC;
	border: 1px solid black;
	text-align: center;
	color: black;
	margin: 5px auto;
	border-radius: 12px;
	font-size: 16px;
}

.btn:hover{
	cursor: pointer;
	color: white;
	background-color: #777;
}